breathe
Sphinx
jupyter-sphinx
matplotlib
sphinx-rtd-theme
sphinxcontrib-drawio
sphinxcontrib-jsmath
sphinxcontrib-kroki
sphinxcontrib-mermaid
sphinxcontrib-plantuml
sphinxcontrib-wavedrom
linuxdoc
prettytable
jupyter
